{% extends 'base.html.twig' %}

{% block title %}Catégories
{% endblock %}

{% block body %}
	<div class="col-md-10 contenu-blanc">

		<h1>
			{% if lesCategories | length == 0 %}
				Il n'y a pas de catégorie
			{% elseif lesCategories | length == 1%}
				La catégorie
			{% else %}
				Les
				<span>
					{{  lesCategories | length }}
				</span>
				catégories
			{% endif %}
		</h1>
		{{ include('messages.html.twig') }}
		<div class="contenu">
			<div class="row gap-1 row-gap-5 justify-content-center ">
				{% for key, categorie in lesCategories %}
					<div class="col-md-3">
						<div class="card">
							{% if categorie.imgFilename == null %}
								<div class="card-header"></div>
							{% else %}
								<img src="{{ asset('uploads/categorieIMG/' ~ categorie.imgFilename) }}" class="card-img-top" alt="Card image cap">
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">{{ categorie.libelle }}</h5>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!--fin div col-md-6-->
{% endblock %}
